################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/uui-seed/bin
/.vs
/uui-seed/obj/Debug
/uui-seed/bower_components
/packages
