################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/uui-seed/bin
/.vs
/uui-seed/obj/Debug
/uui-seed/bower_components
/packages
/uui-seed/node_modules
/uui-seed/lib/_app
